.carousel {
    position: relative;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    padding: 1rem;
}

.carousel-container {
    display: flex;
    overflow: hidden;
}

.carousel-item {
    min-width: 100%;
}

.carousel-item img {
    max-width: 100%;
}

.prev-button,
.next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px 20px;
}

.prev-button {
    left: 0;
}

.next-button {
    right: 0;
}
