
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');


body{
    font-family: 'Rubik', sans-serif;
    font-size: 62.5%;
    background-color: rgba(255, 255, 255, 0.55);
}

input[type="submit"]:hover {
    cursor: pointer;
}

/*HEADER*/

li, a{
    text-decoration: none;
    list-style: none;
    text-transform: uppercase;
}

img {
    max-width: 100%;
}

li{
    font-size: 1.2rem;
}

.header {
    text-align: center;
    background-image: url("../images/fondo-header.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header-logo img{
    width: 15%;
}

/*MENU*/

.navbar{
    background-color: #f59f34;
    text-align: center;
    width: 100%;
}

.navbar li {
   
    padding: 1rem;
    display: inline-block;
    color: #000;     
}

.navbar a{
    color: #000; 
}

/*MAIN*/

.main{
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
}
.main .formulario{
    text-align: center;
    margin: 3rem;
    font-size: 1rem;
    background-color: #f59f34;
    padding: 1rem;
    width: 20%;
}

label{
    margin: 1rem;
}
.buttom{
    margin: 1rem;
}

/*BUSCADOR*/

.main-buscador{
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: transparent;
}

.main-buscador .form-buscador{
    text-align: center;
    margin: 3rem 0rem ;
    width: 100%;
}

.buscador{
    padding: .6rem;
    border-radius: 0.5rem;
    width:50%;
    font-size: .9rem;
}

.buscador-btn{
    border-radius: 0.5rem;
    padding: .6rem;
    font-size: .9rem;
    text-transform: uppercase;
}

/*CONTENIDO*/

.recitales {
    margin-top: 7rem;
    margin-bottom: 7rem;
    margin-left: 5rem;
    margin-right: 5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}
.recital{
    text-align: center;
    position: relative;
}
.recital h3{
    font-size: 1.4rem;
    text-transform: uppercase;
    margin: 0;
    letter-spacing: .1rem;
}
.recital img {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    object-fit: cover;
    
}

.recital a{
    text-transform: uppercase;
    font-size: 1rem;
    justify-content: center;
    justify-self: center;
    position: absolute;
    top: 90%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    background-color: #f59f34;
    color: #000;
    border: 1px solid #000;
    border-radius: 1rem;
    padding: 10px;
    
}

/* ACCOUNT */

.account-data {
    background-color: #ffffff;
    text-align: center;
    padding: 0rem;
    padding-bottom: 1rem;
    font-size: 1rem;
    margin: 1rem auto;
    width: 50rem;
    border: 1px solid #000;
    border-radius: 1rem;  
}

.account-data h3{
    background-color: #030303;
    color: white;
    padding: 1rem;
    margin-top: 0rem;
    border-radius: 1rem;  
}


/*FOOTER*/

.footer {
    width: 100%;
    text-align: center;
    background-color: #f59f34;
    margin-top: 8rem;
    padding: 3rem 0;
}

.footer-links{
    
    text-align: center;
    width: 100%;
}

.footer-links li {
   
    padding: 1rem;
    display: inline-block;
}

.footer-links a{
    color: #000; 
    font-size: 1rem;
} 



/*PAGINA ADMINISTRADOR*/

.admin h2{
    text-transform: uppercase;
}
.admin .main{
    display: block;
}


.admin-formulario{
    margin: auto;
    margin-top: 1rem;
    
    font-size: 1rem;
    background-color: #f59f34;
    padding: 1rem;
    width: 35%;
    width: fit-content;
}
.admin-formulario label{
    font-weight: bold;
    
}
.admin-formulario br{
    display: flex;
}

.admin .main .titulo h2{
    font-size: 1.5rem;
    text-align: center;
}
.titulo a{
    text-transform: uppercase;
    font-size: 1rem;
    background-color: #3498db;
    color: #fff;
    padding: .2rem;
    height: 3rem;
    margin: auto 0;
}
.admin .eventos h2{
    font-size: 1.5rem;
    text-align: center;
}
.admin .eventos table{
   text-align: center;
   margin: auto;
   font-size: 1.2rem;
   width: 70%;
   border: 1px solid black;
   padding: 1rem;
   border-collapse: collapse;
   margin-bottom: 2rem;
}

.admin .eventos tr{
    text-align: center;
    margin: 2rem;
    font-size: 1.2rem;
    width: 70%;
    border-top: 1px solid black;
    
}

.admin .eventos th{
   padding: 1rem;
}
.admin .eventos td{
    padding: 1rem;
}

.agregar-button {
    margin: 1rem;
    background-color: #0074cc;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    margin: 1rem 20%;
    text-transform: uppercase;
}


.admin .btn-eliminar{
    
    text-align: center;
    margin: 0;
    font-size: 1rem;
    padding: 1rem;
    width: 20%;
    
    
}
.btn-eliminar-submit{
    background-color: #E82323;
    text-transform: uppercase;
    padding: 0.5rem;
    font-weight: bold;
}

/* INFORMACION DE RECITAL EN COMPRA */

.info-compra{
    display: flex;
    
}
.info-compra .right h2{
    font-size: 2rem;
    font-weight: normal;
    color: #616161;
    border-bottom: 1px solid #000;

    
}
.info-compra .right {
    margin: 10rem 3rem;
    font-size: 1.5rem;
    font-weight: bold;

}
.info-compra .right span{
    font-weight: normal;

}
.info-compra .left h2{
    
    font-size: 2rem;
    border-bottom: 3px solid #616161;
    text-transform: uppercase;
}
.info-compra .left{
    margin: 2rem;
    width: 50%;

}
.info-compra .left img{
   
    width: -webkit-fill-available;
}
.info-precio{
    
    font-size: 1.5rem;
    font-weight: bold;
    border: 1px solid #000;
    margin: auto;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
}
.info-precio h3{
    background-color: gray;
    padding: 1rem 0rem;
    margin: 0;
}


.comprar-button{
    
    background-color: #f59f34;
    color: #000;
    padding: 10px 20px;
    text-transform: uppercase;
    margin: 4% 4%;
}


/* PAGO */ 

.pago{
    text-align: center;
    font-size: 1rem;
}







 





